body {
   background-color: #00254d;
}

h1 {
   font-family: arial, sans serif;
   color: white;
   margin: auto;
}

article {
    margin: auto;
    padding: 2%;
    background-color: #e6f2ff;
    width: 75%;
    text-align: justify;
    font-family: arial, sans serif;
}

#ftr_logo {
    padding-top: 2%;
    text-align: auto;
}

img {
    height: 100px;
}
