body {
   background-color: #00254d;
}

h1 {
   font-family: arial, sans serif;
   color: white;
   margin: auto;
   float: inline;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding: 2%;
    background-color: #e6f2ff;
    width: 75%;
    text-align: justify;
    font-family: arial, sans serif;
}

.hdr_logo {
   width:100%;
   margin-left:10%;
}

.ftr_logo {
    padding-top: 2%;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

img {
    height: 100px;
}
